@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif !important;
}

.cl-card {
  box-shadow: none !important;
  border: 1px solid #acacac !important;
  border-radius: 3px !important;
}

.cl-internal-1dauvp, .cl-internal-1hp5nqm, .cl-internal-1dauvpw{
    display: none !important;
  }
